body {
    overflow-x: hidden;
}

@import "colores";

@mixin Titulos {
	margin: 10px;
	background-color: $VerdeOscuro;
	font-family:'Oswald', sans-serif;
	font-weight: 400;
	font-size: 80px;
	text-align: center;
	text-transform:uppercase;
	color: $Fondo;
	justify-content:center; 
}

@mixin Subtitulos {
	font-family:'Oswald', sans-serif;
	font-weight: 400;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	color: $Naranja;	
}

@mixin Textos {
	font-family:'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	color: $Texto; 
}

@media screen and (max-width: 877px){
	.Index-Oculto{
		display:none;
		}
	}

@media screen and (max-width: 717px) and (orientation: landscape) {
	.Servicio-Oculto{
		display:none;
		}
	}

@media screen and (max-width: 990px){
	.Nosotras-Oculto{
		display:none;
		}
	}

@media screen and (min-width: 989px){
	.Item-Mini{
		display:none;
		}
	}

@media screen and (max-width: 480px) {
	.Mapa{
		margin-left: 8%;
		}
	}
	
body{
	background-color:$Fondo;
}

a{
	text-decoration: none;
	color:$VerdeOscuro;
}

a:hover{
	color: $Naranja;
}

.Bordes:hover{
  border: 5px solid $VerdeOscuro;
}

.Bordes{
	border: solid 5px $Naranja;
	margin:2px;
}

.Footer{
	background-color: $VerdeOscuro;
	margin-top: 5%;
	justify-content: center;
	text-align: center;
	padding: 0%;
	
	
	.Footer__Row{
		margin: 0%;
		padding: 0%;
	}
	
	.Footer__Img{
		margin-top: 2%;
	}
	
	.Footer__Texto{
		margin-top: 1%;
		color: $Fondo;
		font-family:'Roboto', sans-serif;
		font-weight: 400;
		font-size: 15px;
		text-align: center;	
	}
}

/*NAVBAR*/

.EstiloNav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	background-color:$Fondo;
    font-family:'Roboto', sans-serif;
}

.EstiloNav__Ul{
    display: flex;
    justify-content: flex-end;
}

.EstiloNav__Ul--Green{
	color:$VerdeOscuro;
}

li{
	padding: 10px;
	display: inline;
	margin:0px 10px;
}

/*CLASES INDEX*/

.Index{
	background-image: url(../img/img0.jpg);
	background-size: cover;
	width: 100%;
	height: 500px;
	justify-content: center;
 	align-items: center;
	
	.Index__Box{
		border: solid 10px $Fondo;
		display: flex;
		justify-content: center;
		align-items: center;
			
		.Index__Box--Titulo{
			margin: 5%;
			font-family:'Oswald', sans-serif;
			font-weight: 400;
			font-size: 80px;
			text-align: center;
			text-transform:uppercase;
			color:$Fondo; 
		}
	}
}

.SubtituloIndex{
	@include Subtitulos;
	margin-top: 3%;
}

.TextoIndex{
	@include Textos;
	margin-top: 2%;
	margin-left: 3%;
	margin-right: 3%;
}

.ImgLinkIndex{
	display: flex;
	width: 100%;
    display: flex;
    justify-content: center;
	margin-top: 15px;

	.ImgLinkIndex__Box{
		display: flex;
		justify-content: center;

		.ImgLinkIndex__Box--Item{
			margin:15px;
		}
	}
}


/*CLASES GALERIA*/

.Galeria{
	background-color: $VerdeOscuro;

	.Galeria__Titulo{
		@include Titulos;
	}
}

.Galeria__Subtitulo{
	@include Subtitulos;
	margin-top:3%;
	margin-bottom: 3%;
	justify-content:center;	 
}

.Galeria__Carousel{
	margin-top: 3%;
	margin-bottom: 5%;
}

/*NOSOTAS*/

.Nosotras{
	background-color: $VerdeOscuro;

	.Nosotras__Titulo{
		margin-top: 10px;
		width:100%;
		justify-content: center;
		font-family:'Oswald', sans-serif;
		font-weight: 400;
		font-size: 80px;
		text-align: center;
		text-transform:uppercase;
		color:$Fondo;
	}
}

.ContenedorNos{
	display: flex;
}

.Nosotras__Subtitulo{
	@include Subtitulos;
	margin-top: 7%;
	font-size: 40px;
}

.ImgNos{
	width: 45%;
	padding:0%;
	margin-top: 4%;
	margin-bottom: 3%;
}

.TextoNos{
	@include Textos;
	padding: 0%;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 3%;
	margin-right: 3%;
}

.Item-Mini{
	width: 90%;
	padding: 0%;
}

/*SERVICIO*/

.Servicio{
	background-color: $VerdeOscuro;

	.Servicio__Titulo{
		@include Titulos;
		justify-content: center;
		margin-top: 0%;
		padding: 0%;
	}
}

.Servicio__Subtitulo{
	@include Subtitulos;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 3%;
	margin-right: 3%;
	padding: 0%;
	justify-content:center;	
}

.Servicio__Texto{
	@include Textos;
	margin-top: 10%;
	margin-left: 3%;
	margin-right: 3%;
	display: flex;	
}

/*PEDI MUCHA*/

.PediMuchaBox{
	justify-content: center;
}

.PediMucha{
	background-color: $VerdeOscuro;

	.PediMucha__Titulo{
		@include Titulos;	
	}
}

.PediMucha__Subtitulo{
	@include Subtitulos;
	margin-top: 2%;
	margin-bottom: 4%;
} 

.Formulario{
	margin-bottom: 10%;
	padding: 0%;
}

.EstiloMapa{
	width: 90%;
	margin-top: 10%;
	margin-bottom: 10%;
}

// Carrito

.muchaDeli__table{
	margin: 3%;
}



.cart__button{
	background-color: $Naranja;
	border: none;
	border-radius:50%;
}
